
header{
    background-color: #000000;
    color: #b6099c;
    text-align: center;

}
nav{
    background-color: #b6099c;
    color: black;
    text-align: center;
}

main{
    background-color: #f1fff8;
    color: black;
    height: 800px;

}
footer{
    background-color: #000000;
    color: #b6099c;
    text-align: center;

}
*{
    margin:0 auto;
}
header,nav,main,footer{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
a:link, a:visited{
    color:#000000;
    text-decoration: none;
}